.jumbotron {
    text-align: center;
    background-color: lightblue;
    font-family: sans-serif;
    border-bottom: black solid;
}
input {
    margin: 5px;
}
td {
    text-align: center;
}
th {
    text-align: center;
}